@import "tailwindcss";

:root {
  --font-poppins: 'Poppins', sans-serif;
  --font-inter: 'Inter', 'Poppins', sans-serif;
}

body .radix-themes {
	--default-font-family: var(--font-inter) !important ;
}

